<footer class="pt-5 mt-5 bg-light">
    <div class="container">
        <div class="row g-4 justify-content-between">
            <div class="col-md-5 col-lg-4">
                <a class="me-0" href="{{ path('app_frontoffice') }}">
                    <img class="light-mode-item h-40px" src="{{ asset('assets/images/image.svg') }}" alt="logo">
                </a>
                <p class="my-3">LibraryHub, votre bibliotheque en ligne intelligente dediee au partage des lectures.</p>
            </div>
            <div class="col-md-7 col-lg-6">
                <div class="row g-4 g-lg-5">
                    <div class="col-6 col-sm-4">
                        <h5 class="mb-2 mb-md-3">Forum</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_front_community_index') }}">Communautes</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-4">
                        <h5 class="mb-2 mb-md-3">Plateforme</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_frontoffice') }}">Accueil</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 pb-4 text-center">
                <small>Copyrights 2026 LibraryHub</small>
            </div>
        </div>
    </div>
</footer>
