{% extends 'base.html.twig' %}

{% block title %}Edit Penalty #{{ penalty.id }}{% endblock %}

{% block body %}
    <div class="container-fluid p-4">
        <!-- Page Header START -->
        <div class="row mb-4">
            <div class="col-12">
                <h2><i class="bi bi-pencil-square"></i> Edit Penalty #{{ penalty.id }}</h2>
            </div>
        </div>
        <!-- Page Header END -->

        <!-- Form Card START -->
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card shadow-sm">
                    <div class="card-body p-4">
                        {% include 'penalty/_form.html.twig' with {'button_label': 'Update Penalty'} %}
                    </div>
                </div>

                <!-- Back Button -->
                <div class="mt-3">
                    <a href="{{ path('penalty_show', {'id': penalty.id}) }}" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Back to Penalty
                    </a>
                </div>
            </div>
        </div>
        <!-- Form Card END -->
    </div>
{% endblock %}
