{% extends 'base.html.twig' %}
{% block title %}Nouveau livre{% endblock %}
{% block body %}
<div class="container-fluid p-4">
    <h1 class="h3 mb-4">Nouveau livre</h1>
    <div class="card border-0 shadow-sm">
        <div class="card-body">
            {{ include('catalog/backoffice/book/_form.html.twig', { button_label: 'Créer' }) }}
            <a href="{{ path(area ~ '_book_index') }}" class="btn btn-link text-muted mt-2">Retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}
