{% extends 'base.html.twig' %}

{% block title %}Edit ReadingChallenge{% endblock %}

{% block body %}
    <h1>Edit ReadingChallenge</h1>

    {{ include('reading_challenge/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reading_challenge_index') }}">back to list</a>

    {{ include('reading_challenge/_delete_form.html.twig') }}
{% endblock %}
