{% extends 'base.html.twig' %}

{% block title %}Administration - Modifier communaute{% endblock %}

{% block body %}
<div class="container-fluid p-4">
    <div class="mb-4">
        <h1 class="h3 mb-1">Modifier {{ community.name }}</h1>
        <p class="text-muted mb-0">Mettez a jour les informations de la communaute.</p>
    </div>

    {{ include('community/_form.html.twig', {form: form}) }}

    <div class="d-flex justify-content-between align-items-center mt-4">
        <a href="{{ path('app_community_show', {'id': community.id}) }}" class="btn btn-light">Retour au detail</a>
        {{ include('community/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
