{% extends 'base.html.twig' %}

{% block title %}Edit Loan #{{ loan.id }}{% endblock %}

{% block body %}
    <div class="container-fluid p-4">
        <!-- Page header START -->
        <div class="row mb-4">
            <div class="col-12">
                <h2><i class="bi bi-pencil-square"></i> Edit Loan #{{ loan.id }}</h2>
            </div>
        </div>
        <!-- Page header END -->

        <!-- Form card START -->
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card shadow-sm">
                    <div class="card-body p-4">
                        {% include 'loan/_form.html.twig' with {'button_label': 'Update Loan'} %}
                    </div>
                </div>

                <!-- Back button -->
                <div class="mt-3">
                    <a href="{{ path('loan_show', {'id': loan.id}) }}" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Back to Loan
                    </a>
                </div>
            </div>
        </div>
        <!-- Form card END -->
    </div>
{% endblock %}
