<form method="post" action="{{ path('app_defi_personel_delete', {'id': defi_personel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ defi_personel.id) }}">
    <button class="btn">Delete</button>
</form>
